@media (max-width: 1430px) {
    
}

@media (max-width: 1200px) {
    .container {
        max-width: 960px;
    }
    .portfolio {
        &__wrapper {
            grid-template-columns: repeat(auto-fit, 280px);
            justify-content: center;
            .wide, .tall {
                grid-row: unset;
                grid-column: unset;
            }
        }
    }
}

@media (max-width: 992px) {
    .container {
        max-width: 720px;
    }
    .portfolio {
        padding-top: 26px;
            &__headline {
                font-size: 30px;
                line-height: 48px;
                margin-top: 20px;
            }
        &__divider {
            margin-top: 15px;
        }
        &__wrapper {
            margin-top: 40px;
        }
    }
}

@media (max-width: 768px) {
    .container {
        max-width: 540px;
    }
    .portfolio {
        &__wrapper {
            gap: 20px 20px;
        }
    }
}

@media (max-width: 576px) {
    .container {
        max-width: 100%;
        padding: 0 10px;
    }
    .portfolio {
        &__headline {
            font-size: 24px;
            line-height: 36px;
        }
    }
}

